//colores
$rojoferrari: #cc0000;
$rojoredbull: #d2003c;
$amarilloredbull: #ffcc00;
$azulredbull: #1f3f6e;
$naranjaredbull: #f2940a;
$azuloscuro: #011e3d;

//tamaños
$bpSmall: 576px;
$bpMedium: 768px;
$bpLarge: 992px;

//utilidades
$borderRadius: 10px;
$transition: all 0.3s;
$shadow: 0 25px 50px -12px rgba(0,0,0,0.6);

//fuentes
$fontBase: 16px;
$fontMedium: $fontBase +10;
